mixin footer
  footer.footer
    .container-my
      .footer-block
        .footer-logo
          svg.footer__logo
            a(target='_blank', href='#')
              use(href='#footer-logo')
        .footer__block-content
          .footer__about
            .footer__block-content__column
              .footer-title
                h5 About
              .footer-text
                ul.footer-content
                  li How Triphouse works
                  li Careers
                  li Privacy
                  li Terms
          .footer__property
            .footer__block-content__column
              .footer-title
                h5 Property types
              .footer-text
                ul.footer-content
                  li Guest houses
                  li Hotels
                  li Apartments
                  li Villas
                  li Holiday homes
                  li Hostels
          .footer__support
            .footer__block-content__column
              .footer-title
                h5 Support
              .footer-text
                ul.footer-content
                  li Contact Customer Service
                  li FAQ
        .footer-address
          p &copy; 2020 Triphouse, Inc. All rights reserved
