mixin offer
  section.container-my.offer
    .offer__header
      h2.offer-title.title What do we offer
    .offer__row
      .item-offer
        .item-offer__icon
          svg.item-offer__icon--size-support
            use(href='#support')
        .item-offer__title Support 24/7
      .item-offer
        .item-offer__icon
          svg.item-offer__icon--size-communicate
            use(href='#communicate')
        .item-offer__title Communicate directly
      .item-offer.item-offer-online
        .item-offer__icon
          svg.item-offer__icon--size-online
            use(href='#online')
        .item-offer__title Book online
      .item-offer
        .item-offer__icon
          svg.item-offer__icon--size-reviews
            use(href='#reviews')
        .item-offer__title Real guest reviews
