.top-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/images/fons.jpg');
  background-position: top center;
  background-size: cover;
}

.top-section-title {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .top-section__logo {
    fill: $accent-blue;
    max-width: 200px;
    height: 40px;
  }
}

.top-section-basic-title {
  display: none;
}

.top-section__row {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

.top-section__stay-attraction {
  color: $color-white;
  text-decoration: none;
  position: relative;

  &:hover::after {
    content: '';
    border: 4px solid $accent-yellow;
    opacity: 1;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 10px);
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: opacity;
  }

  &::after {
    content: '';
    opacity: 0;
    position: absolute;
  }
}

.stays a:hover,
.attractions a:hover {
  color: $color-white;
}

.button-night,
.button-myprofile {
  background-color: transparent;
  border: none;
}

.night {
  fill: $color-white;
  width: 30px;
  height: 30px;

  &:hover {
    width: 32px;
    height: 32px;
    fill: $accent-yellow;
  }
}

.my-profile {
  fill: $color-white;
  width: 40px;
  height: 40px;

  &:hover {
    fill: $accent-yellow;
  }
}

.top-section__burger {
  display: none;
}

.discovery-title {
  margin-top: 175px;
  font-size: 50px;
  color: $color-white;
}

.discovery-search {
  background-color: $color-white;
  margin: 140px 0 120px;
  display: flex;
  justify-content: space-between;
  height: 64px;
  max-width: 1232px;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  position: relative;
}

.discovery-filter {
  display: flex;
  justify-content: end;
  max-width: 757px;
  width: 100%;
}

.text-form,
.text-form-name {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  border: 3px solid $color-white;
}

.text-form {
  padding: 0 24px;
  border: 1px solid $secondary-text;
  border-radius: 8px;
  margin-left: 0;

  &:hover {
    border: 3px solid $accent-yellow;
  }
}

.label-data,
.label-name {
  transform: translate(0, -210%);
  color: $color-white;
}

.discovery-input-name {
  outline: none;
  border: 3px solid $color-white;
}

.discovery-input {
  outline: none;
  font-size: 18px;
  border: 3px solid $color-white;
  transform: translate(0, -10%);
}

.label-people {
  color: $color-white;
}

.people-input {
  border-radius: 8px;
  width: 255px;
}

.discovery-wrap-form {
  display: flex;
}

.discovery__bottom {
  max-width: 190px;
  width: 100%;
  background-color: $accent-blue;
  border: 3px solid $accent-blue;
  border-radius: 8px;
  color: $color-white;
  font-size: 24px;
}

.discovery-content__media {
  display: none;
}

.block-apps {
  display: flex;
  margin: 120px auto;
  justify-content: center;
  column-gap: 8px;
}

.google-play,
.app-store {
  max-width: 135px;
  height: 40px;
}

// ---------------------------media 1260 --------------------
@media (max-width: 1260px) {
  .discovery-filter {
    justify-content: end;
  }

  .text-form-name {
    margin-left: 8px;
  }

  .text-form {
    padding: 0 4px;
  }

  .label-name {
    line-height: 1;
    transform: translate(0, -43px);
  }

  .discovery-input-name {
    transform: translate(0, -60%);
  }
}

// ---------------------------media 1024 --------------------
@media (max-width: 1024px) {
  .container-my {
    padding: 0 52px;
  }

  .top-section {
    padding: 0;
  }

  .discovery-search {
    height: 63px;
    font-size: 16px;
  }

  .text-form {
    margin-left: 32px;
    padding: 6px 8px;
    line-height: 1.4;
  }

  .discovery-wrap-form {
    position: absolute;
    right: 0;
    top: 0;
  }

  .label-name {
    transform: translate(0, -38px);
  }

  .discovery-input {
    outline: none;
    font-size: 16px;
    border: 3px solid #fff;
    transform: translate(0, -30%);
  }

  .discovery-input-name {
    transform: translate(0, -20%);
    position: absolute;
    left: 8px;
    top: 35%;
  }

  .people-input {
    width: 225px;
  }

  .discovery-filter {
    flex-direction: column;
    max-width: 620px;
  }

  .discovery-wrap-form {
    display: flex;
    justify-content: space-evenly;
  }

  .discovery__bottom {
    width: 100%;
    max-width: 1024px;
    margin: 8px 0;
    padding: 8px 0;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

// ---------------------------media 768  --------------------
@media (max-width: 768px) {
  .container-my {
    padding: 0 52px;
  }

  .top-section-title {
    margin-top: 25px;
  }

  .top-section__logo {
    width: 122px;
  }

  .stays,
  .attractions {
    display: none;
  }

  .top-section__row {
    gap: 8px;
  }

  .night {
    width: 16px;
  }

  .my-profile {
    width: 24px;
  }

  .top-section__burger {
    position: relative;
    display: block;
    width: 25px;
    height: 10px;

    span {
      width: 100%;
      height: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: -64%;
    }

    &::before,
    &::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .block-discovery {
    margin-top: 0;
  }

  .discovery-title {
    font-size: 30px;
    margin-top: 50px;
  }

  .discovery-content,
  .discovery-search {
    display: none;
  }

  .discovery-container__media {
    margin: 35px auto;
    padding: 8px;
    width: 100%;
    background-color: $accent-yellow;
  }

  .discovery-content__media {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 48px);
    row-gap: 8px;
    margin: 8px;
    color: $color-dark;

    div {
      background-color: $color-white;
      border-radius: 8px;
    }
  }

  .checks {
    grid-auto-columns: 1fr 1fr;
  }

  .discovery-content__title-media {
    display: none;
  }

  .hotel-name {
    grid-column: 1;
    display: flex;
    align-items: center;

    svg {
      height: 16px;
      width: 16px;
      margin-left: 10px;
      fill: $secondary-text;
    }
  }

  .text-date {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    margin-left: 8px;
  }

  .text {
    font-size: 12px;
    line-height: 1.5;
    margin-left: 8px;
    align-items: end;
  }

  .checks {
    grid-row: 2;
    display: grid;
    column-gap: 8px;
  }

  .department {
    grid-column: 1;
    display: grid;
  }

  .arrival {
    grid-column: 2;
    display: grid;
  }

  .options {
    grid-row: 3;
    display: grid;
    align-items: center;
  }

  .adults {
    grid-column: 1;
    border-right: 1px solid #bfbfbf;
  }

  .children {
    grid-column: 2;
    border-right: 1px solid #bfbfbf;
  }

  .rooms {
    grid-column: 3;
  }

  .discovery__bottom-media {
    grid-row: 4;
    margin: 0 auto;
    font-size: 19px;
    border-radius: 4px;
    width: 100%;
    color: $color-white;
    background: $accent-blue;
    border: $accent-blue;
  }

  .block-apps {
    margin: 40px auto;
  }
}

// ---------------------------media 480  --------------------
@media (max-width: 480px) {
  .container-my {
    padding: 0 8px;
  }

  .top-section-title {
    margin: 0 auto;
  }

  .top-section__row {
    gap: 8px;
    margin-top: 0;
  }

  .discovery-title {
    margin: 10px auto;
  }

  .top-section-title .top-section__logo {
    margin: -24px auto 0;
  }

  .discovery-content__media {
    margin: 0;
  }

  .discovery-container__media {
    min-width: 300px;
    margin: 30px auto;
  }

  .block-discovery {
    margin: 0 auto;
    font-size: 30px;
  }

  .block-apps {
    margin: 25px auto;
  }
}
