.sign-up__wrapper {
  display: grid;
  grid-template-columns: 86px 1fr 26px;
  grid-template-rows: 152px;
  column-gap: 24px;
  padding: 24px;
  background-color: $bg-color;
}

.sign-up__wrapper-media {
  display: none;
}

.sign-up-icon {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background-color: $color-white;
  fill: $accent-blue;
  grid-column: 1;
  grid-row: 1 / span2;
  position: relative;
  margin-top: 30px;
}

.sign-up-icon svg {
  width: 50px;
  height: 44px;
  position: absolute;
  left: 25%;
  top: 25%;
  fill: var(--accent-blue);
}

.sign-up__row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.sign-up__content {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  align-items: center;
  display: grid;
}

.sign-up__button {
  width: max-content;
  padding: 0 32px;
  height: 48px;
  font-size: 18px;
  line-height: 1.2;
  background-color: $color-white;
  color: $accent-blue;
  border: 1px solid $accent-blue;
  border-radius: 8px;
}

.sign-up__button-close {
  background-image: url('../assets/images/close.png');
  background-color: $bg-color;
  background-repeat: no-repeat;
  border: none;
}

// ---------------------------media 1024 --------------------
// ---------------------------media 768  --------------------
@media (max-width: 768px) {
  .sign-up-icon {
    width: 76px;
    height: 76px;
  }

  .sign-up__content {
    font-size: 18px;
  }

  .sign-up__button {
    font-size: 16px;
  }
}

// ---------------------------media 480  --------------------
@media (max-width: 480px) {
  .sign-up {
    height: 106px;
    background-color: $color-white;
    order: 4;
  }

  .sign-up__wrapper {
    display: none;
  }

  .sign-up__wrapper-media {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
  }

  .sign-up__button-close {
    background-image: url('../assets/images/close.png');
    background-color: $color-white;
    background-size: cover;
    width: 20px;
    height: 20px;
  }

  .sign-up-icon-media {
    max-width: 58px;
    width: 100%;
    height: 58px;
    background-color: $accent-blue;
    border-radius: 4px;
    position: relative;
  }

  .sign-up-logo {
    fill: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53px;
    height: 10px;
  }

  .sign-up__content {
    color: $color-dark;
    font-size: 12px;
    line-height: 1.2;
  }

  .sign-up__install {
    color: $accent-blue;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    text-decoration: none;
  }
}
