@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
  height: 900px;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  background-image: url("../images/fons_icon.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.block-one {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #ffffff;
  display: flex;
}
.block-title {
  height: 40px;
  width: 205px;
  margin: 51px 0 0 104px;
  background-image: url("../images/sprite.png");
  border: 1px solid white;
}

.block-stays {
  margin: 57px 0 0 684px;
  display: flex;
  flex-direction: column;
}

hr {
  width: 50px;
  border: 2px solid #f5bd41;
}

.block-attractions {
  margin: 57px 0 0 24px;
}

.day-night {
  margin: 56px 0 0 48px;
  width: 30px;
  height: 30px;
  background-image: url("../images/sprite.png");
  background-position: -205px;
}

.my-profile {
  margin: 51px 0 0 24px;
  width: 40px;
  height: 40px;
  background-image: url("../images/sprite.png");
  background-position: -234px;
}
